{% extends 'tests/base.html' %}

{% block content %}
  {% load template_extras %}

{% if request.user|has_group:"Tutor"  %}
    <h3>Create Test</h3><br>
  <div class="row">




                <div class="col-md-12">
                  <div class="card mb-4 shadow-sm" style="padding:1em 2em;">

  <form style="border:none;" id="CreateTestForm">
    {% if request.user|has_group:"Tutor"  %}<br>
   <label for="uname">Student Username:</label>
    <input type="text" id="fname" name="uname" ><br>
    {% else %}
    <label for="uname">Student Username:</label>
    <input type="text" id="fname" name="uname" disabled  value="{{user.username}}"  class="hidden"><br>
    {% endif %}<br><br>
    <input type="radio" id="AlgoTest" name="test_type" value="AlgoTest"  checked="checked" onclick="switchTestType('AlgoTest')">
    <label for="AlgoTest">Create test for me</label><br>
    <input type="radio" id="CustomTest" name="test_type" value="CustomTest" onclick="switchTestType('CustomTest')">
    <label for="CustomTest">Customize test</label><br>

    <br><br>   <p id="categories_area" class="disabled"> Categories:</p>
    {% for category in categories.all %}
    <input class="category_checkbox" type="checkbox" id="cat{{category.id}}" name="{{category.category_name}}" value="{{category.id}}" disabled>
    <label class="category_checkbox_label disabled" for="cat{{category.id}}">{{category.category_name}}</label><br>
    {% endfor %}

  <br><br>
  <input type="button" id="button" value="Submit"><br>
  <br><p id="submit_message">
</p>
                </form>


                  </div>
                </div>
              </div>
<script>
  function switchTestType(testType) {
    var elements = document.getElementsByClassName("category_checkbox");
    var element_labels = document.getElementsByClassName("category_checkbox_label");

    if (testType == "AlgoTest"){
        for (var i = 0 ; i < elements.length ; i++) {
          elements[i].disabled = true;
          element_labels[i].classList.add("disabled")
                }
       document.getElementById("categories_area").classList.add("disabled");
    }
    if (testType == "CustomTest"){
      for (var i = 0 ; i < elements.length ; i++) {
                elements[i].disabled = false;
                element_labels[i].classList.remove("disabled")

              }
     document.getElementById("categories_area").classList.remove("disabled");

    }
  }

  var $j = jQuery.noConflict();

  $j("#button").click(function(e) {
      e.preventDefault();


      var formElement = document.getElementById("CreateTestForm");
      var    inputElements = formElement.getElementsByTagName("input");
      var    jsonObject = {};
      jsonObject["csrfmiddlewaretoken"] =  "{{ csrf_token }}";

      for(var i = 0; i < inputElements.length; i++){
          var inputElement = inputElements[i];
          if (inputElement.type=="radio"){
                if (inputElement.checked){
                    jsonObject[inputElement.name] = inputElement.value;
                }
                else{
                    if (jsonObject[inputElement.name] == null || jsonObject[inputElement.name] == "null" ){
                    jsonObject[inputElement.name] = "null";
                }
              }
          }
          else if (inputElement.type=="checkbox"){
            if (inputElement.checked){
              jsonObject[inputElement.id] = "true";
            }
            else{
              jsonObject[inputElement.id] = "false";
            }
          }
          else if (inputElement.type=="text"){
          jsonObject[inputElement.name] = inputElement.value;

        }

      }
      // return JSON.stringify(jsonObject);
      console.log(jsonObject);
    //  formElement.style.display= "none";
    $j.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: formElement.url,
            data: JSON.stringify(jsonObject),
            success: function (data) {
                  if (data.user_valid) {
                      document.getElementById("submit_message").innerHTML="Test Created Successfully.";
                      document.getElementById("submit_message").classList.remove("error_found");}
                     else{
                       document.getElementById("submit_message").innerHTML="Username not valid.";
                       document.getElementById("submit_message").classList.add("error_found");
                 }}
               });
             });
  </script>


  <style>
    .disabled{
      color:#aeaeae;
    }
    .hidden{
      display:none
    }
    .error_found{
      color:red;
    }
    </style>



        {% else %}
            <p>You must have Tutor-level access to view this page.</p>
        {% endif %}

        {% endblock %}
