
{% extends 'tests/base.html' %}

{% block content %}


    <h3>Questions</h3><br>
    {% load template_extras %}

{% if request.user|has_group:"Tutor"  %}
      <div>     <div class="col-md-12">
            {% for question in questions.all %}

              <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <p class="score-area">Ans: {{question.correct_answer}}</p>
                  <p class="card-text" style="font-size:1.2em;max-width:80%;"><a href="/app/question/{{question.id}}">{{question.question_copy}}</a></p>
                      <p><small class="text-muted float_right">Q-ID:{{question.id}}</small></p>
                      <p class="card-text">A) {{question.question_choice_1}}</p>
                      <p class="card-text">B) {{question.question_choice_2}}</p>
                      <p class="card-text">C) {{question.question_choice_3}}</p>
                      <p class="card-text">D) {{question.question_choice_4}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

<style>
  .upload_questions, .upload_area{
    display:inline-block!important;
  }

  </style>

    {% else %}
        <p>You must have Tutor-level access to view this page.</p>
    {% endif %}

    {% endblock %}
